* {
    padding: 0;
    margin: 0;
}
body {
    background: $background-primary;
    background-size: cover;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $font-grey;
    text-align: left;
}
main{
    padding-top: 150px;
}
.contenedor {
    height: calc(100vh - 150px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .col-1 {
        grid-column: span 1;
    }
    .col-2 {
        grid-column: span 2;
    }
    .col-3 {
        grid-column: span 3;
    }
    .col-4 {
        grid-column: span 4;
    }
    .col-5 {
        grid-column: span 5;
    }
    .col-6 {
        grid-column: span 6;
    }
    .col-7 {
        grid-column: span 7;
    }
    .col-8 {
        grid-column: span 8;
    }
    .col-9 {
        grid-column: span 9;
    }
    .col-10 {
        grid-column: span 10;
    }
    .col-11 {
        grid-column: span 11;
    }
    .col-12 {
        grid-column: span 12;
    }

    .cent-horiz {
        display: grid;
        justify-content: center;
    }
    .cent-vert {
        display: grid;
        align-items: center;
    }
}

h1 {
    font-family: $font-title;
    color: $font-title-color;
	font-size: 50px;
	font-weight: bold;
}

.padd-h-1 {
    padding: 0 5px;
}

.padd-h-2 {
    padding: 0 10px;
}

.padd-h-3 {
    padding: 0 15px;
}

.padd-v-1 {
    padding: 5px 0;
}

.padd-v-2 {
    padding: 10px 0;
}

.padd-v-3 {
    padding: 15px 0;
}

.padd-1 {
    padding: 5px;
}

.padd-2 {
    padding: 10px;
}

.padd-3 {
    padding: 15px;
}

.m-auto{
    margin: auto;
}