# dependencies
/node_modules
/coverage
src/plugins/summernote/lang/summernote-ar-AR.js
src/plugins/summernote/lang/summernote-ar-AR.min.js
src/plugins/summernote/lang/summernote-ar-AR.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-de-DE.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-el-GR.js
src/plugins/summernote/lang/summernote-el-GR.min.js
src/plugins/summernote/lang/summernote-el-GR.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-es-ES.js
src/plugins/summernote/lang/summernote-es-ES.min.js
src/plugins/summernote/lang/summernote-es-ES.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-es-EU.js
src/plugins/summernote/lang/summernote-es-EU.min.js
src/plugins/summernote/lang/summernote-es-EU.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-fa-IR.js
src/plugins/summernote/lang/summernote-fa-IR.min.js
src/plugins/summernote/lang/summernote-fa-IR.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-fi-FI.js
src/plugins/summernote/lang/summernote-fi-FI.min.js
src/plugins/summernote/lang/summernote-fi-FI.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-fr-FR.js
src/plugins/summernote/lang/summernote-fr-FR.min.js
src/plugins/summernote/lang/summernote-fr-FR.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-gl-ES.js
src/plugins/summernote/lang/summernote-gl-ES.min.js
src/plugins/summernote/lang/summernote-gl-ES.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-he-IL.js
src/plugins/summernote/lang/summernote-he-IL.min.js
src/plugins/summernote/lang/summernote-he-IL.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-hr-HR.js
src/plugins/summernote/lang/summernote-hr-HR.min.js
src/plugins/summernote/lang/summernote-hr-HR.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-hu-HU.js
src/plugins/summernote/lang/summernote-hu-HU.min.js
src/plugins/summernote/lang/summernote-hu-HU.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-id-ID.js
src/plugins/summernote/lang/summernote-id-ID.min.js
src/plugins/summernote/lang/summernote-id-ID.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-it-IT.js
src/plugins/summernote/lang/summernote-it-IT.min.js
src/plugins/summernote/lang/summernote-it-IT.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-ja-JP.js
src/plugins/summernote/lang/summernote-ja-JP.min.js
src/plugins/summernote/lang/summernote-ja-JP.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-ko-KR.js
src/plugins/summernote/lang/summernote-ko-KR.min.js
src/plugins/summernote/lang/summernote-ko-KR.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-lt-LT.js
src/plugins/summernote/lang/summernote-lt-LT.min.js
src/plugins/summernote/lang/summernote-lt-LT.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-lt-LV.js
src/plugins/summernote/lang/summernote-lt-LV.min.js
src/plugins/summernote/lang/summernote-lt-LV.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-mn-MN.js
src/plugins/summernote/lang/summernote-mn-MN.min.js
src/plugins/summernote/lang/summernote-mn-MN.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-nb-NO.js
src/plugins/summernote/lang/summernote-nb-NO.min.js
src/plugins/summernote/lang/summernote-nb-NO.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-nl-NL.js
src/plugins/summernote/lang/summernote-nl-NL.min.js
src/plugins/summernote/lang/summernote-nl-NL.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-pl-PL.js
src/plugins/summernote/lang/summernote-pl-PL.min.js
src/plugins/summernote/lang/summernote-pl-PL.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-pt-BR.js
src/plugins/summernote/lang/summernote-pt-BR.min.js
src/plugins/summernote/lang/summernote-pt-BR.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-pt-PT.js
src/plugins/summernote/lang/summernote-pt-PT.min.js
src/plugins/summernote/lang/summernote-pt-PT.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-ro-RO.js
src/plugins/summernote/lang/summernote-ro-RO.min.js
src/plugins/summernote/lang/summernote-ro-RO.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-ru-RU.js
src/plugins/summernote/lang/summernote-ru-RU.min.js
src/plugins/summernote/lang/summernote-ru-RU.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-sk-SK.js
src/plugins/summernote/lang/summernote-sk-SK.min.js
src/plugins/summernote/lang/summernote-sk-SK.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-sl-SI.js
src/plugins/summernote/lang/summernote-sl-SI.min.js
src/plugins/summernote/lang/summernote-sl-SI.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-sr-RS-Latin.js
src/plugins/summernote/lang/summernote-sr-RS-Latin.min.js
src/plugins/summernote/lang/summernote-sr-RS-Latin.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-sr-RS.js
src/plugins/summernote/lang/summernote-sr-RS.min.js
src/plugins/summernote/lang/summernote-sr-RS.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-sv-SE.js
src/plugins/summernote/lang/summernote-sv-SE.min.js
src/plugins/summernote/lang/summernote-sv-SE.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-ta-IN.js
src/plugins/summernote/lang/summernote-ta-IN.min.js
src/plugins/summernote/lang/summernote-ta-IN.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-th-TH.js
src/plugins/summernote/lang/summernote-th-TH.min.js
src/plugins/summernote/lang/summernote-th-TH.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-tr-TR.js
src/plugins/summernote/lang/summernote-tr-TR.min.js
src/plugins/summernote/lang/summernote-tr-TR.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-uk-UA.js
src/plugins/summernote/lang/summernote-uk-UA.min.js
src/plugins/summernote/lang/summernote-uk-UA.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-uz-UZ.js
src/plugins/summernote/lang/summernote-uz-UZ.min.js
src/plugins/summernote/lang/summernote-uz-UZ.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-vi-VN.js
src/plugins/summernote/lang/summernote-vi-VN.min.js
src/plugins/summernote/lang/summernote-vi-VN.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-zh-CN.js
src/plugins/summernote/lang/summernote-zh-CN.min.js
src/plugins/summernote/lang/summernote-zh-CN.min.js.LICENSE.txt
src/plugins/summernote/lang/summernote-zh-TW.js
src/plugins/summernote/lang/summernote-zh-TW.min.js
src/plugins/summernote/lang/summernote-zh-TW.min.js.LICENSE.txt
src/plugins/summernote/plugin/databasic/summernote-ext-databasic.css
src/plugins/summernote/plugin/databasic/summernote-ext-databasic.js
src/plugins/summernote/plugin/hello/summernote-ext-hello.js
src/plugins/summernote/plugin/specialchars/summernote-ext-specialchars.js
src/plugins/summernote/summernote-bs4.css
src/plugins/summernote/summernote-bs4.js
src/plugins/summernote/summernote-bs4.min.js
src/plugins/summernote/summernote-bs4.min.js.LICENSE.txt
src/plugins/summernote/summernote-lite.css
src/plugins/summernote/summernote-lite.js
src/plugins/summernote/summernote-lite.min.js
src/plugins/summernote/summernote-lite.min.js.LICENSE.txt
src/plugins/summernote/summernote.css
src/plugins/summernote/summernote.js
src/plugins/summernote/summernote.min.js
src/plugins/summernote/summernote.min.js.LICENSE.txt
