.buttom-container{
    align-items: center;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.buttom-container h1{
	color:#c66f07;
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.buttom-container h2{
	color: #c66f07;
	font-size: 50px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.buttom-container .buttons{
	margin: 35px 280px;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }